<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>default web site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CompetitionEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=Competition;Persist Security Info=True;User ID=sa;Password=sa@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.CompetitionEntities, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyUsers" Order="2" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Persist Security Info=True;User ID=sa;Password=sa@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication1.Models.ApplicationDbContext, WebApplication1" MigrationConfiguration="WebApplication1.Migrations.Configuration, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20170409054351.mdf;Initial Catalog=aspnet-WebApplication1-20170409054351;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20170409054351.mdf;Initial Catalog=aspnet-WebApplication1-20170409054351;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyUsers-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Persist Security Info=True;User ID=sa;Password=sa@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompetitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Competition.csdl|res://*/Models.Competition.ssdl|res://*/Models.Competition.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=Competition;Persist Security Info=True;User ID=sa;Password=sa@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MyUsers-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Persist Security Info=True;User ID=sa;Password=sa@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompetitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Competition.csdl|res://*/Models.Competition.ssdl|res://*/Models.Competition.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=Competition;Persist Security Info=True;User ID=sa;Password=sa@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Persist Security Info=True;User ID=sa;Password=sa@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompetitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Competition.csdl|res://*/Models.Competition.ssdl|res://*/Models.Competition.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=Competition;Persist Security Info=True;User ID=sa;Password=sa@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Persist Security Info=True;User ID=sa;Password=sa@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompetitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Competition.csdl|res://*/Models.Competition.ssdl|res://*/Models.Competition.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=Competition;Persist Security Info=True;User ID=sa;Password=sa@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompetitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Competition.csdl|res://*/Models.Competition.ssdl|res://*/Models.Competition.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\sqlexpress;Initial Catalog=Competition;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>